.chat-main
  .chat-main__header
    .chat-main__header__current-group
      %h2.chat-main__header__current-group__member-name
        = @group.name
      %ul.chat-main__header__current-group__member-list
        %li.chat-main__header__current-group__member-list__member
          - @group.users.each do |user|
            =user.name
    .chat-main__header__edit
      = link_to edit_group_path(@group) do
        Edit
  .chat-main__message
    - current_user.messages.each do |message|
      .chat-main__message__line
        .chat-main__message__line__name
          = message.user.name
        .chat-main__message__line__date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .chat-main__message__review
        = message.content
        = message.image
  
  .chat-main__form
    = form_for [@group, @message] do |f|
      .form
        = f.text_field :content, class: 'form__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'form__input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'