.side-bar
  .side-bar__user-name
    .side-bar__user-name__side-box
      .side-bar__user-name__side-box__user-name
        = current_user.name
      .side-bar__user-name__side-box__menu
        .side-bar__user-name__side-box__menu__edit
          = link_to new_group_path do
            = icon('fas', 'edit')
        .side-bar__user-name__side-box__menu__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__groups
        = link_to group_messages_path(group) do
          .side-bar__group-list__groups__groupname
            = group.name
          .side-bar__group-list__groups__coments
            メッセージはまだありません。
     